$--main-color: #800000;
$--secondary-color: #155f83;
$--accent-color: #ffa319;
$--black-color: #382f2d;
$--white-color: #d6d6ce;
$--primary-font-family: 'Playfair Display';

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// @keyframes grow-down {
//   from {
//     transform: scaleY(0);
//   }
//   to {
//     transform: scaleY(1);
//   }
// }