@import '_variables';

.maincontent {
  padding-top: 60px;
  background-color: $--background-color;
  @include for-tablet-landscape-up {
    padding-top: 40px;
  }
}

.body {
  @include for-tablet-landscape-up {
    width: 750px;
  }
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}