@import '_variables';

.maincontent {
  padding-top: 20px;
  background-color: $--background-color;
  @include for-tablet-landscape-up {
    padding-top: 40px;
  }
}

.body {
  @include for-tablet-landscape-up {
    width: 750px;
  }
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.body__titletext {
  font-family: $--secondary-font-family;
  margin: 0;
  padding: $--medium-whitespace;
}

.body__bodytext {
  font-family: $--secondary-font-family;
  padding: $--small-whitespace;
  margin: 0;
}

.banner {
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  margin: 0;
}

.title {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title__main {
  font-family: $--primary-font-family;
  color: white;
  font-size: 50px;
  margin: 0;
  @include for-tablet-portrait-up {
    font-size: 100px;
  }
}
