@import '_variables';
@import '_animations';

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -11;
}

.title__secondary {
  font-family: $--secondary-font-family;
  color: $--white-color;
  font-weight: 300;
  font-size: 10px;
  margin: 10px 20px;
  text-align: center;
  @include for-tablet-portrait-up {
    font-size: 20px;
  }
}

.scroll__text {
  color: $--white-color;
  font-family: $--secondary-font-family;
}

.scroll {
  transform: rotate(90deg);
  position: absolute;
  right: 30px;
  top: 85vh;
}


.scroll__bar {
  border-top: 2px solid $--white-color;
  width: 50px;
  margin-top: 2px;
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left cubic-bezier(0.785, .135, .15, .46) 1.4s forwards infinite;
}

.body__titletext {
  font-family: $--secondary-font-family;
  margin: 0;
  padding: $--medium-whitespace;
}

.body__bodytext {
  font-family: $--secondary-font-family;
  padding: $--small-whitespace;
  margin: 0;
}

.definition {
  background-color: white;
  margin: $--small-whitespace 0;
}

.definition__word {
  text-align: center;
  font-family: $--primary-font-family;
  padding: $--small-whitespace;
  margin: 0;
}

.definition__word-light {
  font-weight: 400;
}

.definition__definition {
  font-family: $--secondary-font-family;
  padding: $--small-whitespace;
  margin: 0;
}

.video {
  display: flex;
  flex-direction: column;
  background-color: white;
  @include for-tablet-portrait-up {
    flex-direction: row;
  }
}

.video__text {
  font-family: $--secondary-font-family;
  margin: 0;
  margin-top: $--medium-whitespace;
}
.video__video {
  padding: $--small-whitespace;
}