@import '_variables';

.nav__option {
  text-decoration: none;
  color: $--black-color;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  transition: 50ms all;
  height: 40px;
  display: flex;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
  &:hover {
    color: $--main-color;
  }
  margin: 0 10px;
  @include for-desktop-up {
    margin: 0 20px;
  }
}

.nav__option-active {
  color: $--main-color;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav__image {
  width: 40px;
  height: 40px;
}

.nav__left, .nav__right {
  display: flex;
  align-items: center;
}

.nav__left {
  overflow-x: scroll;
  -ms-overflow-style: none;
}

.nav__left::-webkit-scrollbar {
  display: none;
}